<div class="panel-heading">
  Algorithm Test
</div>
<div class="panel-body text-center">
  <%= link_to "Question 1", question1_answer_path, class: "btn btn-outline btn-default btn-lg" %>
  <%= link_to "Question 2", question2_answer_path, class: "btn btn-outline btn-default btn-lg" %>
  <%= link_to "Question 3", question3_answer_path, class: "btn btn-outline btn-default btn-lg" %>
  <%= link_to "Question 4", question4_answer_path, class: "btn btn-outline btn-default btn-lg" %>
  <%= link_to "Question 5", question5_answer_path, class: "btn btn-outline btn-default btn-lg" %>
</div>
